@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$top = 13vh
$padding = 3rem
$zIndex = 100

// CSS Reset
global-reset()

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	transition(color)
	display inline-block
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 2rem
	letter-spacing .02em
	font-family 'Helvetica Neue', 'Arial', sans-serif
	color $secondary
	overflow hidden
	+below($md)
		font-size 1.5rem

h1, h2
	text-transform uppercase
	line-height 100%

em
	font-style italic

p, h1, h2
	margin-bottom 1em
	line-height 100%

p:last-child
	margin-bottom 0

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

// @keyframes color {
//     100%, 0% {
//         stroke: #40382e
//     }
//     40% {
//         stroke: #0f0f0f
//     }
//     66% {
//         stroke: #40382e
//     }
//     80%, 90% {
//         stroke: #0f0f0f
//     }
// }

@keyframes rotate {
    100% {
        transform(rotate(360deg))
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    30% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

#loader
	overflow hidden
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 1000
	.spinner
		width 50px
		height 50px
		align()
		top initial
		bottom $padding
		.circular
			animation rotate 2s linear infinite
			height 100%
			transform-origin center center
			width 100%
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			margin auto
			.path
				stroke $secondary
				stroke-dasharray 1, 200
				stroke-dashoffset 0
				animation dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite

#intro
	position relative
	transition(height, 1600ms, cubic-bezier(.72,0,.01,1))
	overflow hidden
	height 100vh
	flexbox()
	justify-content center
	align-items center
	cursor pointer
	z-index 800
	span
		transition(font-size, 1400ms, cubic-bezier(.72,0,.01,1))
		font-size 6vw
		padding $padding

#intro.hidden
	height 0
	span
		font-size 3rem

body.loaded
	#container .inner
		opacity 1

body.loading
	#container .inner
		opacity 0

header
	flexbox()
	justify-content space-between
	align-items top
	z-index 100
	#site-title
		position relative
		padding $padding $padding 0 $padding
		z-index 100
		span
			transition(width, 800ms, ease)
			display inline-block
			width .8em
			overflow hidden
			+below($md)
				display none
		span:nth-child(2)
			width 0
			transition(width, 400ms, ease)
			transition-delay(400ms)
	#site-title::after
		+below($md)
			content 'OO'
	#site-title:hover
		span:nth-child(1)
			width 2.3em
		span:nth-child(2)
			width .3em
		span:nth-child(3)
			width 3.3em
	#project-select
		width 33%
		+below($md)
			width 65%
		h2
			margin-bottom 0
		#current-project
			transition(background-color, 300ms, ease)
			width 100%
			position relative
			padding $padding $padding 0 $padding
			background $primary
			z-index 100
			cursor s-resize
		#project-list
			transition(transform, 600ms)
			transform(translate3d(0,-100%,0))
			position absolute
			width 100%
			top $padding
			left $padding
			padding-top 1em
			z-index 50
			.project-link.active
				height 0
				overflow hidden
		#project-list.is-visible
			transform(translate3d(0,0%,0))
	#project-select:hover
		#project-list:not(.hidden)
			transform(translate3d(0,0%,0))

#wrapper
	height 100vh
	position relative

#container
	transition(background-color, 300ms, ease)
	span(1)
	height 100vh
	position absolute
	top 0
	left 0
	z-index 0
	.inner
		transition(opacity, 400ms)
	#project-description, #slide-caption
		position absolute
		bottom $padding
		left $padding
		font-size 1.1rem
		z-index 100
		max-width 33%
	#slide-caption
		left initial
		right $padding

#slider
	height 100vh
	width 100%
	.cell
		height 100%
		width 100%
		flexbox()
		justify-content center
		align-items center
		.content
			backface()
			height 75%
			background transparent url('../../images/loader.gif') center no-repeat
			background-size 15px
			+below($md)
				height auto
				padding 0 $padding
			img
				display block
				+below($md)
					width auto
					height auto
					max-height 75vh
					max-width 100%
			img.lazy
				transition(all, 300ms, ease)
				opacity 0
			img.lazy.flickity-lazyloaded
				opacity 1
	.cell.is-selected
		.content
			transform(none)

#about
	transition(transform, 500ms)
	transform(translate3d(100%,0,0))
	width 50%
	height 100%
	position fixed
	top 0
	right 0
	padding $padding
	flexbox()
	flex-direction column
	justify-content space-between
	background $secondary
	color $primary
	z-index 200
	cursor url('../../images/close.png') 8 8, default
	+below($md)
		width 100%
	#infos
		max-width 46rem
	#footer
		font-size 1.1rem

#about.visible::before
	content ''
	position fixed
	width 100%
	height 100%
	top 0
	left -100%
	

#about.visible
	transform(translate3d(0%,0,0))